.navbar-custom{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f1f3;
    margin-bottom: 20px;
}

.dropdown-custom {
    background:#eff1f3;  
    border-radius: 0;
    padding: 0;
    border: 1px solid #393c43;
    color: #8a8d93;
    font-size: 1rem;
    width: 100%;
}

.dropdown-item-custom {
    color: #8a8d93;
    text-decoration: none;
    border-bottom: 1px solid #393c43;
    width: 100%;
    align-items: center!important;
    padding: 15px !important;
    /* display: flex!important; */
}

.dropdown-item:hover, .dropdown-item:focus {
    text-decoration: none;
    background-color: #e8f3f3
}