/* You can add global styles to this file, and also import other style files */

$bg-light: #afafaf;
$light:#afafaf;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.body-content{
    padding-left: 2%;
    padding-right: 2%;
    padding-top:2%;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
