<paymentsense-page-title [title]="'Countries'" [iconDefinition]="iconService.countries"></paymentsense-page-title>

<div class="row">
    <div class="col-lg-12">
        <table mat-table [dataSource]="currentCountries" class="mat-elevation-z8" multiTemplateDataRows>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
            <ng-container matColumnDef="flag">
                <th mat-header-cell *matHeaderCellDef> Flag</th>
                <td mat-cell *matCellDef="let row"> <img class="flag-style" src="{{row.flagUrl}}"> </td>
            </ng-container>
            <ng-container matColumnDef="detail">
                <th mat-header-cell *matHeaderCellDef> Detail</th>
                <td mat-cell *matCellDef="let row">
                    <button class="mat-icon-button"
                        (click)="expandedElement = handleDetailClick(expandedElement?.name === row.name, row.name)">
                        <div *ngIf="expandedElement?.name == row.name">
                            <fa-icon [icon]="iconService.upArrow">
                            </fa-icon>
                        </div>
                        <div *ngIf="expandedElement?.name != row.name">
                            <fa-icon [icon]="iconService.downArrow">
                            </fa-icon>
                        </div>
                    </button>
                </td>
            </ng-container>

            <!-- Expanded content -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="3">
                    <div class="example-element-detail"
                        [@detailExpand]="element.name == expandedElement?.name ? 'expanded' : 'collapsed'">
                        <mat-card class="card-style">
                            <mat-card-header class="card-header-style">
                                <mat-card-title class="card-title-style"><img class="flag-style"
                                        src="{{expandedElement?.flagUrl}}">
                                    {{expandedElement?.name}}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <mat-list>
                                            <h3 matSubheader>Population:</h3>
                                            <mat-list-item>
                                                <p matLine>
                                                    {{expandedElement?.population}}
                                                </p>
                                            </mat-list-item>
                                            <h3 matSubheader>Capital:</h3>
                                            <mat-list-item>
                                                <p matLine>
                                                    {{expandedElement?.capital}}
                                                </p>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-list>
                                            <h3 matSubheader>Langauges:</h3>
                                            <mat-list-item *ngFor="let langauge of expandedElement?.languages">
                                                <p matLine>
                                                    {{langauge}}
                                                </p>
                                            </mat-list-item>

                                        </mat-list>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-list>
                                            <h3 matSubheader>Border:</h3>
                                            <mat-list-item *ngFor="let border of expandedElement?.borders">
                                                <p matLine>
                                                    {{border}}
                                                </p>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </td>
            </ng-container>

            <!-- Non-expanded content -->
            <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
            <tr mat-row *matRowDef="let element; columns: columnNames" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row dark-td"></tr>
        </table>

        <mat-paginator #paginator [pageSize]="pageSize" [length]="totalSize" [pageIndex]="currentPage"
            showFirstLastButtons (page)="pageEvent = handlePage($event)">
        </mat-paginator>
    </div>
</div>

<!-- (click)="expandedElement = expandedElement === row ? null : row" -->