table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width:0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.card-style {
    min-width: 100%;
    margin: 20px;
}

.card-title-style {
    text-align: center;
}

.flag-style {
    width: 50px;
    height: 30px;
}

.dark-td {
    background-color: rgb(242, 242, 242);
}

.card-header-style {
    min-width: 100%;
}

.mat-header-row, .mat-row {
    width: 100%;
}

.example-headers-align {

    .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }

    .mat-form-field + .mat-form-field {
        margin-left: 8px;
    }
}